@CHARSET "UTF-8";

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,828c95+64,b5bdc8+100 */
	background: rgb(40,52,59); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(40,52,59,1) 0%, rgba(130,140,149,1) 64%, rgba(181,189,200,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 64%,rgba(181,189,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 64%,rgba(181,189,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=0 ); /* IE6-9 */
}

#container {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0d8ef+0,ddf1f9+65,feffff+100 */
	background: rgb(160,216,239); /* Old browsers */
	background: -webkit-linear-gradient(rgba(160,216,239,1) 0%, rgba(221,241,249,1) 65%, rgba(254,255,255,1) 100%);
	background: -moz-linear-gradient(rgba(160,216,239,1) 0%, rgba(221,241,249,1) 65%, rgba(254,255,255,1) 100%);
	background: -o-linear-gradient(rgba(160,216,239,1) 0%, rgba(221,241,249,1) 65%, rgba(254,255,255,1) 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(160,216,239,1)), color-stop(0.65, rgba(221,241,249,1)), to(rgba(254,255,255,1)));
	background: linear-gradient(rgba(160,216,239,1) 0%, rgba(221,241,249,1) 65%, rgba(254,255,255,1) 100%); /* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
}

header a{
	color: #fff;
}

header a:hover{
	text-decoration: none;
}

#logo {
	color: #fff;
}

#logo {
	font-family: 'Seymour One', sans-serif;
	color: rgb(255, 255, 255);
	text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
}

#logo:hover{
	color: rgb(204,204,204);
	text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
}

h2 {
	padding: 5px;
	border-radius: 4px;
}

header,
footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e69de+0,6db3f2+100 */
	background: #1e69de; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e69de 0%, #6db3f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e69de 0%,#6db3f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e69de 0%,#6db3f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#6db3f2',GradientType=0 ); /* IE6-9 */
}

.navbar {
	border-radius: 0;
}

#loggedin {
	display: none;
}

#register {
	width: 40%;
	margin: 20px auto;
}

#main {
	margin-top: 20px;
}

#carousel-example-generic img {
	margin: auto;
}

footer {
	padding: 10px;
}

footer li {
	list-style-type: none;
	text-align: center;
}

footer a {
	color: #eee;
}

footer a:hover {
	color: #fff;
}

#register {
	padding: 10px 30px;
}

#register #success {
	display: none;
}


#cart div,
#cart td {
	text-align: center;
	vertical-align: middle;
}

#cart img,
#profile img {
	width: 64px;
	height: 64px;
}

#product .panel img {
	cursor: zoom-in;
}

iframe {
	margin: 20px auto;
}

#about img {
	width: 30%;
	margin: 20px;
	border-radius: 10px;
}

#sitemap {
	padding: 0 20px 20px 20px;
}

#sitemap ul {
	list-style-type: none;
	padding: 0;
}